body{background-color:grey;}
body>div{width: 1000px;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;}
header>div{color:white;
    background-color: coral;}
.img{background: url(../img/1611830871_47-p-belo-rozovii-fon-48.jpg);
font-size: 45px;
font-weight: 800;
text-align: center;
padding:5% 9% 5% 9%}
section{padding: 4% 0 4% 9%;
width: 680px;}
h2+p{padding-top: 2%;}
footer{color: white;
    background-color:  rgba(0, 0, 0, 0.774);}
 
    li{display: inline-block;
        color: white;
       }
nav{ background-color: rgba(0, 0, 0, 0.774);}
.sidebar{background-color: rgba(0, 0, 0, 0.774);
    color:white;
    width: 250px;
    padding: 2% 0.3% 2% 1%;
    margin-right: 9%;
    margin-top: 3%;
float: right;}
    body,h1,ul,p,h2{margin: 0px;}
h1,ul{padding: 1% 0 1% 6%;}
li{padding-right: 1%;}
footer>span{
display: block;
text-align: center;
padding: 2% 0 2% 0;}
@media(max-width: 600px) {

  .sidebar{
    float: none;
    margin-left: 9%;
    width: 100%;
    max-width: 800px;
  }
 section{width: 100%;
  max-width: 800px;
}
}